### Set hostname and domain ###
d-i netcfg/get_hostname string hugo1
d-i netcfg/get_domain string local

### Set mirror ###
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

### Clock ###
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Paris

### Locales ####
d-i debian-installer/locale select en_US
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select fr(latin9)

### Users ###
d-i passwd/root-login boolean false
d-i passwd/user-fullname string hugouser User
d-i passwd/username string hugouser
d-i passwd/user-password-crypted password $6$eWXOIm3UXd9QRGqG$DnkZY5/p0dcMBWoiSwrUVbZlW/3Yj4bCJKYljKQdyOeB8Bei8iig3gYI5fjuKdWPLIgj6ggcP6qUyG/zTG/lS0
d-i passwd/user-password-again-crypted password $6$eWXOIm3UXd9QRGqG$DnkZY5/p0dcMBWoiSwrUVbZlW/3Yj4bCJKYljKQdyOeB8Bei8iig3gYI5fjuKdWPLIgj6ggcP6qUyG/zTG/lS0
d-i user-setup/allow-password-weak boolean true

### Partitioning ###
d-i partman-auto partman-auto/disk string /dev/[sv]da
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto-lvm/guided_size string max

### Grub ###
d-i grub-installer/only_debian boolean false
d-i grub-installer/bootdev string /dev/vda

### Kernel command ###
d-i debian-installer/add-kernel-opts string console=ttyS0,115200n8 serial
d-i finish-install/keep-consoles boolean true

### Mode ###
tasksel tasksel/first multiselect standard ssh-server

### Ip ###
d-i netcfg/disable_autoconfig boolean true
d-i netcfg/get_ipaddress string 192.168.122.42
d-i netcfg/get_netmask string 255.255.255.0
d-i netcfg/get_gateway string 192.168.122.1
d-i netcfg/get_nameservers string 9.9.9.9
d-i netcfg/confirm_static boolean true

### Run postinst.sh in /target just before the install finishes. ###
d-i preseed/late_command string \
  cp postinst.sh /target/tmp/ \
  && chmod 755 /target/tmp/postinst.sh \
  && in-target /tmp/postinst.sh

### Avoid last message ###
popularity-contest popularity-contest/participate boolean false
d-i finish-install/reboot_in_progress note

