# shellcheck disable=SC2148
export VIRTUAL_ENV=.venv
[[ -d $VIRTUAL_ENV ]] || uv venv $VIRTUAL_ENV
# shellcheck disable=SC1091
source $VIRTUAL_ENV/bin/activate

# mitogen
## unset ANSIBLE_STRATEGY
PYTHON_DIR=$(ls -1 $VIRTUAL_ENV/lib)
export PYTHON_DIR
typeset -r VAR_MITOGEN_PLUGIN="$VIRTUAL_ENV/lib/$PYTHON_DIR/site-packages/ansible_mitogen"
if [[ -d $VAR_MITOGEN_PLUGIN ]]; then
  export ANSIBLE_STRATEGY=mitogen_linear
  export ANSIBLE_STRATEGY_PLUGINS="$VAR_MITOGEN_PLUGIN/plugins/strategy"
fi
