---
name: pre-commit

on:
  pull_request:
  push:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install requirements (uv pip)
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          make venv
          make install-pre-commit
      # //TEMP only validate diffs
      - name: Run pre-commit (all)
        run: |
          source .venv/bin/activate
          make pre-commit-run-all
